:root {
  /* Attribute */
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;

  /* Font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 36px;
  --font-size-3xl: 40px;

  /* Font weight */
  --font-weight-bold: bold;

  /* Font family */
  --font-family-1: Playfair Display, serif;
  --font-family-2: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 20px;

  /* Transition */
  --transition-fast: 0.3s ease;
}

.light {
  --text-title-color: #171717;
  --background-color: #fff;
  --text-default-color: #6f6f6f;
  --text-btn-color: #858585;
  --menu-bg-color: #fefefe;
  --menu-item-bg: #e8e8e8;
  --menu-icon-color: #858585;
  --social-icon-hover: #000;
  /* --border-dot: #e2e2e2; */
  --bg-color-search-repo: #f9f9f9;
  --bg-repo-box-hover: #f7f8f9;
  --repo-name-color: #171717;
  --repo-box: 0 1px 3px rgba(0, 0, 0, 0.05);
  --bg-project-active: linear-gradient(135deg, #fffbe6, #f7f7f7);
  --bg-input: #f8f8f8;
  --bg-btn-send-email: #171717;
  --bg-youtube-card: #f9f9f9;
  --youtube-title-color: #000;
}

.dark {
  --text-title-color: #ededed;
  --background-color: #161616;
  --text-default-color: #a0a0a0;
  --text-btn-color: #a0a0a0;
  --menu-bg-color: #161616;
  --menu-item-bg: #232323;
  --menu-icon-color: #7e7e7e;
  --social-icon-hover: #e6e2e2;
  /* --border-dot: #343434; */
  --bg-color-search-repo: #161616;
  --bg-repo-box-hover: #222;
  --repo-name-color: #ededed;
  --repo-box: 0 4px 8px rgba(255, 255, 255, 0.12);
  --bg-project-active: #000;
  --bg-input: #3e3e3e;
  --bg-btn-send-email: #dadada;
  --bg-youtube-card: #3e3e3e;
  --youtube-title-color: #ededed;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

.dashboard-layout {
  min-height: 100vh;
  background-color: var(--background-color);
}

.dashboard-content {
  color: var(--text-default-color);
  /* display: flex; */
  width: 100%;
  /* height: 100%; */
  min-height: 100%;
  max-width: 720px;
  margin: 0px auto;
}

.container {
  padding: 90px 16px 120px;
}

.title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-1);
  color: var(--text-title-color);
}

.subtitle {
  margin-bottom: 20px;
}

.icon {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #bbb;
}

.bg-btn {
  border: 1px solid #ccc;
  background-color: var(--background-color);
  color: var(--text-btn-color);
}

/* Menu */
.menu-container {
  background: var(--menu-bg-color);
}

.menu-item {
  background: var(--menu-item-bg);
}

.menu-item svg {
  color: var(--menu-icon-color);
}

.youtube-card {
  background-color: var(--bg-youtube-card);
}

.youtube-title {
  color: var(--youtube-title-color);
}

/* Social icon */
.icon:hover {
  color: var(--social-icon-hover);
}

/* Projects */
.search-repo-title {
  font-size: 17px;
  color: var(--text-title-color);
  font-family: Magnat Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  font-weight: 450;
  margin-top: var(--space-lg);
}

.active-project-item {
  background: var(--bg-project-active);
}

.search-repo-input {
  background-color: var(--bg-color-search-repo);
}

.redirect-repo {
  color: var(--text-default-color);
}

.repo-box:hover {
  background-color: var(--bg-repo-box-hover);
}

.repo-name {
  color: var(--repo-name-color);
}

.repo-stars {
  color: var(--repo-name-color);
}

.repo-box {
  box-shadow: var(--repo-box);
}

/* Contact */
.contact-title {
  color: var(--text-title-color);
}

.send-email-btn {
  background: var(--bg-btn-send-email);
  color: var(--bg-repo-box-hover);
}

/* Input component */
.rounded-input-field {
  background-color: var(--bg-input);
}

/* Text area component */
.rounded-textarea-field {
  background-color: var(--bg-input);
}
